<!-- Name: Maria Macias
StudentId: 301290835
Date: June 18th 2023
File name: contactUpdate.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<!-- Navigation bar -->
<header>
  <%- include('./partials/header'); %>
</header>

<!-- body home authentication -->
<main>
  <div class="jumbotron">
    <!-- Title -->
    <h1>Update Contact!</h1>
    <!-- Contact form -->
    <div class="row">
      <div class="col-md-12 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="/contacts/edit/<%= contact.id %>" method="POST">
              <div class="row justify-content-md-center">
                <!-- Name input -->
                  <div class="col-md-6">
                      <div class="md-form mb-0 mt-3">
                        <label for="name" class="">Name</label>
                        <input type="text" id="name" name="name" class="form-control" value="<%= contact.name %>">
                      </div>
                  </div>
              </div>
              <div class="row justify-content-md-center">
                <!-- Number input -->
                <div class="col-md-6">
                  <div class="md-form mb-0 mt-3">
                    <label for="email" class="">Contact Number</label>
                    <input type="text" id="number" name="number" class="form-control" value="<%= contact.number %>">
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <!-- Email input -->
                <div class="col-md-6">
                  <div class="md-form mb-0 mt-3">
                    <label for="email" class="">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value="<%= contact.email %>">
                  </div>
                </div>
              </div>
              <!-- Submit button and update contact -->
              <div class="text-center text-md-center mt-5">
                <button class="btn btn-primary px-5" type="submit">Update Contact</button>
              </div>
              <!-- Cancel button, redirect to contacts list -->
              <div class="text-center text-md-center mt-2">
                <a href="/contacts" class="btn btn-secondary px-5" role="button">Cancel</a>
              </div>
          </form>
      </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>
